* {
  margin: 0;
  padding: 0;
}

.App,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.items-container {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.items-cols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #0295f7;
  border-radius: 20px;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.item h1 {
  margin-bottom: 5px;
}

.prop {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #0295f7;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.prop-options {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.prop p {
  width: 100px;
  font-weight: bold;
}

.prop-options-row input[type="number"] {
  border: 1px solid #0295f7;
  border-radius: 20px;
  padding: 5px 10px;
  width: 50px;
  outline: none;
}

.prop-options-row label {
  margin-left: 5px;
}

@media (max-width: 767px) {
  .items-container {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .prop {
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .prop-options {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .prop p {
    width: 200px;
    text-align: center;
    margin-bottom: 5px;
  }
}
